*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*payman detail*/

.payment-info {
  margin-top: 31px;
  padding: 0 20px;
}

.payment {
  margin-top: 38px;
  padding: 0 20px;
}

.payment > div {
  margin-top: 31px;
  margin-bottom: 16px;
}

.payment > div > span:nth-child(2) {
  background-color: #ff8906;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
}

.article-payment {
  display: flex;
  background-color: #e8e8e84d;
  padding: 10px;
}

.article-payment > div > img {
  width: 100%;
}

.flash {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
h4.flash-sale {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 24px;
  background-color: #d00000;
  display: inline-block;
}

h3.title-menu-title {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.idr-line {
  color: #d00000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: line-through;
  margin-right: 10px;
}

span.menu-price {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*Payment Info*/

div.input-wrapper {
  position: relative;
}

form .label {
  display: block;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0b132a;
  margin-top: 25px;
}

form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 18.5px 0;
  padding-left: 47px;
  color: #4f5665;
  border: 1px solid #dedede;
  border-radius: 8px;
  background-color: #fcfdfe;
  margin-top: 13px;
  margin-bottom: 25px;
}

img.icon-name {
  position: absolute;
  top: 53px;
  left: 13px;
  z-index: 2;
}

.button-delivery {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.button-delivery > button {
  padding: 10px;
}
