*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*main*/

main {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 78px 130px 57px 130px;
}

main h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0b0909;
}

main > span {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 27px;
  display: block;
}

.info {
  display: flex;
  flex-direction: column;
}

.info > h3 {
  color: #0b132a;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 400;
}

.container-name {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  padding: 20px 10px;
  border-bottom: 1px solid #cdcdcd;
}

.container-name > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-name > div > span {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

.container-name > .done {
  color: #0b132a;
  font-size: 16px;
  font-weight: 700;
}

.container-name > .oke {
  color: #00a700;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  background-color: #00a70033;
  border-radius: 24px;
}

span.idr {
  font-size: 16px;
  font-weight: 700;
  color: #ff8906;
}
