*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*main*/

main {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 78px 130px 57px 130px;
}

main h1 {
  font-size: 48px;
  font-weight: 700;
  color: #0b0909;
}

main > span {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 27px;
  display: block;
}

.container-info {
  display: grid;
  grid-template-areas: "info your-order";
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.info > h3 {
  color: #0b132a;
  font-size: 22px;
  margin-bottom: 12px;
  font-weight: 400;
}

.container-name {
  display: flex;
  justify-content: space-between;
  background-color: #e8e8e8;
  padding: 20px 10px;
  border-bottom: 1px solid #cdcdcd;
}

.container-name > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.container-name > div > span {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

.container-name > .done {
  color: #0b132a;
  font-size: 16px;
  font-weight: 700;
}

.container-name > .oke {
  color: #00a700;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  background-color: #00a70033;
  border-radius: 24px;
}

span.idr {
  font-size: 16px;
  font-weight: 700;
  color: #ff8906;
}

/*your order*/

.your-order {
  grid-area: your-order;
}

.your-order > h3 {
  font-size: 22px;
  color: #0b132a;
  font-weight: 500;
}

.article-payment {
  display: flex;
  background-color: #e8e8e84d;
  padding: 10px;
  position: relative;
  gap: 20px;
}

.article-payment > div > img {
  width: 100%;
  max-width: 180px;
}

.flash {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: relative;
}

h4.flash-sale {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 24px;
  background-color: #d00000;
  display: inline-block;
}

h3.title-menu-title {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.flash > span {
  color: #4f5665;
  font-size: 18px;
  font-weight: 400;
}

.idr-line {
  color: #d00000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: line-through;
  margin-right: 10px;
}

span.menu-price {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/*Footer*/

.footer.footer {
  background-color: #f8f8f8;
  margin-top: 32px;
}
.coffee-logo {
  width: 340px;
  margin-left: 110px;
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
}

.nav-logo {
  text-decoration: none;
}

.logo-text-coffe {
  font-family: "Sacramento", cursive;
  color: #8e6447;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

p.coffe-text {
  color: #4f5665;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 32px;
}

p.copy-coffe {
  color: #afb5c0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-bottom: 67.5px;
}

nav.footer-nav {
  display: inline-block;
  margin-right: 106px;
  margin-top: 50px;
}

h3.footer-heading {
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 20px;
}

.footer-link {
  list-style-type: none;
}

.footer-link li {
  margin-bottom: 10px;
}

.footer-link li a {
  text-decoration: none;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

section.sosial-media {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

h3.sosial-media-text {
  color: #0b132a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 26px;
}

.border {
  border: 1px solid black;
}

.sosial-media-image {
  margin: 0 20px;
}
