/* selector (*) digunakan untuk reset margin dan padding di semua elemen.
box-sizing: border-box memastikan padding dan border dihitung dalam width/height elemen */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header & navigation */
/* position: sticky membuat header tetap terlihat saat scroll */
.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

/* Navigation menggunakan inline-block agar  dalam satu baris */
nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*Main Content*/

.main {
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 78px 130px 86px 130px;
}

/* title content */
.main > div {
  display: flex;
  gap: 20px;
  margin-bottom: 38px;
}

.main > div > span {
  padding: 10px;
  background-color: #e8e8e8;
  color: #0b132a;
}
.container {
  gap: 20px;
  display: flex;
}

.container-history {
  display: flex;
  gap: 40px;
  margin-bottom: 38px;
}

.tabs-container {
  background-color: #e8e8e899;
  padding: 8px;
  display: flex;
  gap: 8px;
}

.tab {
  display: none;
}

.tab-label {
  padding: 12px 24px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.tab:checked + .tab-label {
  background-color: #ffffff;
}

/*seleect calender*/
.form-group {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e8e8e899;
  padding: 0 10px;
}

/*order article container*/

.menu-order {
  display: flex;
  gap: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: #e8e8e84d;
  margin-bottom: 12px;
}

.menu-order img {
  height: 100px;
  width: 100px;
}

.container-order {
  display: flex;
  flex-wrap: wrap;
}

.order {
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.order > div > img {
  width: 16px;
  height: 16px;
}

.order > div > span {
  color: #4f5665;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
}

.order span {
  font-size: 16px;
  font-weight: 700;
}

.progress {
  background-color: #ff890633;
  color: #ff8906;
  font-size: 12px;
  font-weight: 700;
  border-radius: 24px;
  padding: 10px;
}

/*send section*/

.send {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 9px;
  max-width: 450px;
  background-color: #e8e8e8;
  max-height: 230px;
  padding: 20px;
}

.send > img {
  height: 48px;
  width: 48px;
}

.send > h3 {
  font-weight: 700;
  color: #4f5665;
  font-size: 18px;
}

.send > p {
  font-size: 16px;
  color: #4f5665;
  font-weight: 400;
}

.send a {
  font-size: 14px;
  font-weight: 500;
  color: #0b132a;
  background-color: #ff8906;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 6px;
}

/*number 1-4*/

.stepper {
  text-align: center;
  margin-top: 50px;
}
span.step,
.next {
  cursor: pointer;
  display: inline-block;
  background-color: #e8e8e8;
  border-radius: 100%;
  color: #a0a3bd;
  font-size: 16px;
  font-weight: 500;
  margin-left: 20px;
  vertical-align: middle;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}

span.step.active {
  color: #0b0909;
  background-color: #ff8906;
}

span.next {
  background-color: #ff8906;
}

.next img {
  padding-top: 11px;
}

/*Footer*/

.footer.footer {
  background-color: #f8f8f8;
  margin-top: 32px;
}
.coffee-logo {
  width: 340px;
  margin-left: 110px;
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
}

.nav-logo {
  text-decoration: none;
}

.logo-text-coffe {
  font-family: "Sacramento", cursive;
  color: #8e6447;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

p.coffe-text {
  color: #4f5665;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 32px;
}

p.copy-coffe {
  color: #afb5c0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-bottom: 67.5px;
}

nav.footer-nav {
  display: inline-block;
  margin-right: 106px;
  margin-top: 50px;
}

h3.footer-heading {
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 20px;
}

.footer-link {
  list-style-type: none;
}

.footer-link li {
  margin-bottom: 10px;
}

.footer-link li a {
  text-decoration: none;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

section.sosial-media {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

h3.sosial-media-text {
  color: #0b132a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 26px;
}

.border {
  border: 1px solid black;
}

.sosial-media-image {
  margin: 0 20px;
}
