*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b090921;
  padding: 14px 130px;
  position: fixed;
  top: 0;
  width: 100%;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/**/

.background-cover {
  width: 50%;
  background: linear-gradient(to bottom, #777c82, #0b0909);
  height: 1024px;
  float: left;
  padding: 283px 80px 0 132px;
  overflow: hidden;
}

.expresso-container {
  width: 50%;
  float: left;
  height: 1024px;
  overflow: hidden;
}

h.hero-title {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

p.hero-paragraph {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 25px 0;
}

div.get {
  padding: 15px 32px;
  background-color: #ff8906;
  border-radius: 6px;
  display: inline-block;
}
a.get-started {
  text-decoration: none;
  color: #0b132a;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

div.start {
}

.start .start-content {
  display: inline-block;
  margin-top: 25px;
  border-right: 1px solid #ffffff;
  width: 125px;
  margin-right: 35px;
}

span.start-number {
  display: block;
  color: #ff8906;
  font-size: 48px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

span.start-text {
  color: #ffffff;
  font-weight: 400;
  font-family: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: 12px;
}

.start-content.start-right {
  width: auto;
  border-right: none;
  margin-right: auto;
}

.provide-barista {
  width: 100%;
  position: relative;
}
section.content-left {
  width: 50%;
  background-color: wheat;
  float: left;
  padding: 54px 71px 0 130px;
}

h2.we {
  color: #0b132a;
  font-size: 48px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 25px;
}

span.we-provide {
  color: #8e6447;
}

p.content-left-text {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

li.benefit-list {
  color: #4f5665;
  font-size: 14px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  list-style-type: none;
  vertical-align: middle;
  margin-top: 25px;
}
img.img-benefit {
  vertical-align: middle;
}

section.content-right {
  width: 50%;
  float: right;
  overflow: hidden;
}

/*--container favorite--*/

section.container-favorite {
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 80px;
  margin-bottom: 84px;
  clear: both;
}

h2.text-favorite {
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.text-favorite > span {
  color: #8e6447;
}

.favorite-line {
  width: 68px;
  height: 7px;
  background-color: #ff8906;
  text-align: center;
  margin: 25px auto;
}

p.favorite-paragraph {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 60px;
}

article.menu {
  display: inline-block;
  margin-right: 20px;
}

header.header-menu {
  display: inline-block;
  position: relative;
}

div.title-menu {
  position: relative;
  z-index: 2;
  margin-top: -20px;
  margin-left: 9px;
  width: 262px;
  padding: 10px 10px 25px 10px;
  background-color: #ffffff;
}

h3.title-menu-title {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p.title-menu-text {
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4f5665;
  font-size: 14px;
  margin: 12px 0;
}

span.menu-price {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.menu-footer {
  margin-top: 12px;
}

button.menu-button {
  padding: 7.5px 70.5px;
  border-radius: 6px;
  background-color: #ff8906;
  border: none;
  margin-right: 7px;
}

.menu-button a {
  text-decoration: none;
  color: #0b132a;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.menu-button {
  background-color: aliceblue;
}

a.icon-cart-shopping {
  border: 1px solid #ff8906;
  border-radius: 6px;
  padding: 7.5px 17px;
}

.icon-cart-shopping img {
  vertical-align: middle;
}

/*--location map--*/
section.location {
  text-align: center;
  background-color: #e8e8e84d;
  padding: 46px 0 97px 0;
}

h3.location-title {
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

.location-title span {
  color: #8e6447;
}

div.location-line {
  width: 68px;
  height: 7px;
  background-color: #ff8906;
  text-align: center;
  margin: 25px auto;
}

p.location-text {
  color: #4f5665;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 60px;
}
