*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b090921;
  padding: 14px 130px;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/**/

.background-cover {
  width: 50%;
  background: linear-gradient(to bottom, #777c82, #0b0909);
  height: 1024px;
  float: left;
  padding: 283px 80px 0 132px;
}

.expresso-container {
  width: 50%;
  float: left;
}

h1.hero-title {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 48px;
}

p.hero-paragraph {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 45px;
}

a.get-started {
  text-decoration: none;
  color: #0b132a;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  padding: 15px 32px;
  border-radius: 6px;
  background-color: #ff8906;
}
