*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*background*/

div.background-coffe {
  width: 100%;
  position: relative;
  margin-bottom: 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-coffe-content {
  width: 100%;
}

h1.background-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: 92px;
  left: 130px;
  width: 880px;
}

/*today promo*/

.container-article {
  font-size: 0;
}
header.promo-header {
  margin-bottom: 25px;
}

h1.promo-title {
  display: inline-block;
  margin-left: 127px;
  font-weight: 500;
  font-size: 48px;
}

.promo-header span {
  color: #8e6447;
}

.navigation {
  display: inline-block;
  float: right;
  margin-right: 130px;
}

img.arrow-left {
  background-color: #e8e8e8;
  padding: 15px;
  border-radius: 100%;
  margin-right: 9px;
  cursor: pointer;
}

img.arrow-right {
  background-color: #ff8906;
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;
}

article.article-happy {
  background-color: #88b788;
  border-radius: 20px;
  display: inline-block;
  padding: 11px 25px 0 0;
  margin-right: 35px;
}

.article-happy.happy {
  border-radius: 0 20px 20px 0;
}

.article-happy img {
  display: inline-block;
  margin-bottom: -5px;
}

div.article-content {
  display: inline-block;
  vertical-align: top;
  width: 195px;
}

.article-content h3,
.article-content p {
  font-size: 14px;
  font-weight: 700;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #000000;
}

.article-content p {
  font-weight: 400;
  margin-bottom: 13px;
}

.article-content a {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: none;
  cursor: pointer;
}

img.space {
  padding-left: 10px;
}

.article-happy.man {
  background-color: #f5c361;
  border-radius: 20px 0px 0px 20px;
  margin: auto;
}

img.happy-man {
  margin-bottom: -5px;
}

img.img-grup {
  margin-top: 30px;
  margin-left: 127px;
}
