/* selector (*) digunakan untuk reset margin dan padding di semua elemen.
box-sizing: border-box memastikan padding dan border dihitung dalam width/height elemen */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header & navigation */
/* position: sticky membuat header tetap terlihat saat scroll */
.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

/* Navigation menggunakan inline-block agar  dalam satu baris */
nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*container detail product*/

.container-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
}

/* images coffe container */
.image-coffe {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.image-coffe img {
  width: 100%;
  height: auto;
  display: block;
}

.image-coffe > div {
  display: flex;
  width: 100%;
  gap: 12px;
}

/* image food and coffes */
.image-coffe > div > img {
  flex: 1;
  min-width: 0;
}

/* flash sale container */
.article-flash {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
}
span.flash-sale {
  color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 24px;
  background-color: #d00000;
  display: inline-block;
}

h3.title-menu-title {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p.title-menu-text {
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4f5665;
  font-size: 14px;
}

/* icon start */
.start {
  color: #ff8c00;
  margin-right: 10px;
}

.rating-number {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.idr-line {
  color: #d00000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: line-through;
  margin-right: 10px;
}

span.menu-price {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.review {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
  font-family: "Plus Jakarta Sans", sans-serif;
  gap: 16px;
}

.review img {
  cursor: pointer;
}

/* plus minus container button */
.plus-minus {
  display: flex;
  gap: 20px;
  font-size: 14;
  font-weight: 700;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
  align-items: center;
}

.plus-minus button:nth-child(1) {
  border: 1px solid #ff8906;
  border-radius: 4px;
  padding: 5px 10px;

  cursor: pointer;
  font-size: 20px;
}
.plus-minus button:nth-child(3) {
  background-color: #ff8906;
  border-radius: 4px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 20px;
}

.choose {
  color: #0b0909;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

/* container type */
.regular {
  color: #0b0909;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  gap: 31px;
}

.regular > span {
  padding: 10px 20px;
  border: 1px solid #ebb1b1;
  cursor: pointer;
  color: #4f5665;
}

.regular > span.active {
  background-color: #ff8906;
  color: #161111;
}

button.menu-button {
  padding: 7.5px 70.5px;
  border-radius: 6px;
  background-color: #ff8906;
  border: none;
}

.menu-button a {
  text-decoration: none;
  color: #0b132a;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.menu-button {
  background-color: aliceblue;
}

a.icon-cart-shopping {
  border: 1px solid #ff8906;
  border-radius: 6px;
  padding: 7.5px 17px;
  text-align: center;
}

.icon-cart-shopping img {
  vertical-align: middle;
}

/*recommended container*/

.recommended {
  margin-top: 55px;
}

h2.text-recomendasi {
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 29px;
}

.text-recomendasi > span {
  color: #8e6447;
}

h4.flash-sale {
  background-color: #ffffff;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 24px;
  background-color: #d00000;
  display: inline-block;
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
}

article.menu {
  display: block;
  margin-left: 20px;
  position: relative;
}

header.header-menu {
  display: inline-block;
  position: relative;
}

.header-menu img {
  width: 100%;
  height: auto;
  display: block;
}

div.title-menu {
  position: relative;
  z-index: 2;
  margin-top: -20px;
  margin-left: 16px;
  width: 345px;
  padding: 10px 10px 25px 10px;
  background-color: #ffffff;
}

h3.title-menu-title {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
  font-family: "Plus Jakarta Sans", sans-serif;
}

p.title-menu-text {
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #4f5665;
  font-size: 14px;
  margin: 12px 0;
}

.rating {
  margin-bottom: 25px;
}

.start {
  color: #ff8c00;
  margin-right: 10px;
}

.rating-number {
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.idr-line {
  color: #d00000;
  font-size: 12px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
  text-decoration: line-through;
  margin-right: 10px;
}

span.menu-price {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.menu-footer {
  margin-top: 12px;
}

.container-button {
  display: flex;
  justify-content: space-between;
}

button.menu-button {
  padding: 7.5px 70.5px;
  border-radius: 6px;
  background-color: #ff8906;
  border: none;
  margin-right: 7px;
}

.menu-button a {
  text-decoration: none;
  color: #0b132a;
  font-size: 14px;
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.menu-button {
  background-color: aliceblue;
}

a.icon-cart-shopping {
  border: 1px solid #ff8906;
  border-radius: 6px;
  padding: 7.5px 70.5px;
}

.icon-cart-shopping img {
  vertical-align: middle;
}

.scroll {
  display: flex;
  overflow-x: auto;

  scrollbar-width: none;
}

.footer.footer {
  background-color: #f8f8f8;
  margin-top: 32px;
}
.coffee-logo {
  width: 340px;
  margin-left: 110px;
  display: inline-block;
  margin-right: 60px;
  vertical-align: middle;
}

.nav-logo {
  text-decoration: none;
}

.logo-text-coffe {
  font-family: "Sacramento", cursive;
  color: #8e6447;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

p.coffe-text {
  color: #4f5665;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  margin-top: 23px;
  margin-bottom: 32px;
}

p.copy-coffe {
  color: #afb5c0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  margin-bottom: 67.5px;
}

nav.footer-nav {
  display: inline-block;
  margin-right: 106px;
  margin-top: 50px;
}

h3.footer-heading {
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 20px;
}

.footer-link {
  list-style-type: none;
}

.footer-link li {
  margin-bottom: 10px;
}

.footer-link li a {
  text-decoration: none;
  color: #4f5665;
  font-size: 16px;
  font-weight: 400;
}

section.sosial-media {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
}

h3.sosial-media-text {
  color: #0b132a;
  font-weight: 500;
  font-size: 18px;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-bottom: 26px;
}

.border {
  border: 1px solid black;
}

.sosial-media-image {
  margin: 0 20px;
}

/* responsive design tablet 640px+ */

@media (min-width: 640px) {
  /*container detail*/

  .scroll {
    overflow-x: visible;
  }

  .recommended {
    padding: 0 100px;
    margin-top: 20px;
  }

  .text-recomendasi {
    margin: 0;
  }

  div.title-menu {
    width: 100%;
    margin-left: 0;
  }
  .container-detail {
    flex-direction: row;
    margin: auto;
    padding: 87px 100px 0 100px;
    gap: 20px;
  }

  .image-coffe {
    flex: 1;
  }

  article.menu {
    margin: auto;
    margin-right: 20px;
  }

  .article-flash {
    margin: auto;
    gap: 15px;
    flex: 1;
  }

  h4.flash-sale {
    display: block;
  }
}

/* responsive design desktop 768px+ */

@media (min-width: 768px) {
  .recommended {
    padding: 0 130px;
  }

  .container-detail {
    padding: 87px 130px 0 130px;
  }
}
