*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*main*/

main {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main > h1 {
  color: #0b0909;
  font-size: 48px;
  font-weight: 500;
  padding: 78px 130px 50px 130px;
}

.container-profile {
  display: grid;
  grid-template-areas: "left right";
  gap: 20px;
  padding: 0 130px;
}

.left {
  grid-area: left;
  border: 1px solid #e8e8e8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}

.left > h4 {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
}

.left > span:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}

.left img {
  border-radius: 100%;
  width: 110px;
  height: 100px;
}

.left > button {
  font-size: 14px;
  font-weight: 500px;
  color: #0b132a;
  background-color: #ff8906;
  border-radius: 5px;
  border: none;
  padding: 12px 48px;
}
.left > span:nth-child(2) {
  color: #4f5665;
  font-weight: 600;
  font-size: 16px;
}

.right {
  grid-area: right;
}

/*datas*/

.right > form {
  padding: 23px 50px 41px 50px;
  border: 1px solid #e8e8e8;
}

div.input-wrapper {
  position: relative;
}

form .label {
  display: block;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #0b132a;
}

form .input {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 18.5px 0;
  padding-left: 47px;
  color: #4f5665;
  border: 1px solid #dedede;
  border-radius: 8px;
  background-color: #fcfdfe;
  margin-top: 13px;
  margin-bottom: 25px;
}

img.icon-name {
  position: absolute;
  top: 53px;
  left: 13px;
  z-index: 2;
}

img.icon-name.eye-icon,
img.icon-name.eye-show-icon {
  right: 13px;
  left: auto;
  cursor: pointer;
}

.toggle,
.toggle2 {
  display: none;
}

img.icon-name.eye-show-icon {
  display: none;
}

.toggle:checked ~ label img.icon-name.eye-icon,
.toggle2:checked ~ label img.icon-name.eye-icon {
  display: none;
}

.toggle:checked ~ label img.icon-name.eye-show-icon,
.toggle2:checked ~ label img.icon-name.eye-show-icon {
  display: inline;
}

button.button {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: block;
  width: 100%;
  background-color: #ff8906;
  padding: 15px 0;
  cursor: pointer;
  color: #0b132a;
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  border: none;
}
