*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  background-color: #0b0909;
  padding: 14px 130px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

div.logo {
  display: inline-block;
}

.logo img,
.logo span {
  vertical-align: middle;
}

.logo .logo-text {
  font-family: "Sacramento", cursive;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 15px;
}

nav.nav-container-left {
  display: inline-block;
}
ul .list {
  display: inline-block;
  vertical-align: middle;
}

a.nav-a {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
}

.line {
  margin: 0 60px 0 68px;
  border-bottom: 1px solid #ff8906;
  padding-bottom: 5px;
}

.nav-container-right {
  float: right;
}

a.signin,
a.signup {
  text-decoration: none;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 12px;
  border-radius: 5px;
}

a.signup {
  background-color: #ff8906;
  color: #0b132a;
}

a.signin {
  color: #ffffff;
  border: 1px solid #ffffff;
  margin: 0 22px;
}

img.cart-icon {
  margin-left: 22px;
}

/*main*/

main {
  font-family: "Plus Jakarta Sans", sans-serif;
}

main > h1 {
  color: #0b0909;
  font-size: 48px;
  font-weight: 500;
  padding: 78px 130px 50px 130px;
}

.container-profile {
  display: grid;
  grid-template-areas: "left right";
}

.left {
  grid-area: left;
  border: 1px solid #e8e8e8;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
}

.left > h4 {
  font-size: 22px;
  font-weight: 500;
  color: #0b132a;
}

.left > span:nth-child(1) {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}

.left img {
  border-radius: 100%;
  width: 110px;
  height: 100px;
}

.left > button {
  font-size: 14px;
  font-weight: 500px;
  color: #0b132a;
  background-color: #ff8906;
  border-radius: 5px;
  border: none;
  padding: 12px 48px;
}
.left > span:nth-child(2) {
  color: #4f5665;
  font-weight: 600;
  font-size: 16px;
}

.right {
  grid-area: right;
}
